/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

/* Social Icons */
.secondary-navigation a[href*="dribbble.com"], .secondary-navigation a[href*="facebook.com"], .secondary-navigation a[href*="flickr.com"], .secondary-navigation a[href*="foursquare.com"], .secondary-navigation a[href*="plus.google.com"], .secondary-navigation a[href*="instagram.com"], .secondary-navigation a[href*="linkedin.com"], .secondary-navigation a[href*="pinterest.com"], .secondary-navigation a[href*="reddit.com"], .secondary-navigation a[href*="tumblr.com"], .secondary-navigation a[href*="twitter.com"], .secondary-navigation a[href*="vimeo.com"], .secondary-navigation a[href*="wordpress.com"], .secondary-navigation a[href*="wordpress.org"], .secondary-navigation a[href*="youtube.com"], .secondary-navigation a[href*="mailto:"], .secondary-navigation a[href*="twitch.tv"], .secondary-navigation a[href$="/feed/"] {
  text-indent: -9999px; }

.secondary-navigation a[href*="dribbble.com"]:after, .secondary-navigation a[href*="facebook.com"]:after, .secondary-navigation a[href*="flickr.com"]:after, .secondary-navigation a[href*="foursquare.com"]:after, .secondary-navigation a[href*="plus.google.com"]:after, .secondary-navigation a[href*="instagram.com"]:after, .secondary-navigation a[href*="linkedin.com"]:after, .secondary-navigation a[href*="pinterest.com"]:after, .secondary-navigation a[href*="reddit.com"]:after, .secondary-navigation a[href*="tumblr.com"]:after, .secondary-navigation a[href*="twitter.com"]:after, .secondary-navigation a[href*="vimeo.com"]:after, .secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after, .secondary-navigation a[href*="youtube.com"]:after, .secondary-navigation a[href*="mailto:"]:after, .secondary-navigation a[href*="twitch.tv"]:after, .secondary-navigation a[href$="/feed/"]:after {
    text-indent: 0;
    display: block;
    float: left; }

.secondary-navigation a[href*="dribbble.com"]:after, .secondary-navigation a[href*="facebook.com"]:after, .secondary-navigation a[href*="flickr.com"]:after, .secondary-navigation a[href*="foursquare.com"]:after, .secondary-navigation a[href*="plus.google.com"]:after, .secondary-navigation a[href*="instagram.com"]:after, .secondary-navigation a[href*="linkedin.com"]:after, .secondary-navigation a[href*="pinterest.com"]:after, .secondary-navigation a[href*="reddit.com"]:after, .secondary-navigation a[href*="tumblr.com"]:after, .secondary-navigation a[href*="twitter.com"]:after, .secondary-navigation a[href*="vimeo.com"]:after, .secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after, .secondary-navigation a[href*="youtube.com"]:after, .secondary-navigation a[href*="twitch.tv"]:after {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400; }

.secondary-navigation a[href*="mailto:"]:after, .secondary-navigation a[href$="/feed/"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; }

.secondary-navigation a[href$="/feed/"]:after {
  content: "\f09e";
  color: #ff9900; }
.secondary-navigation a[href*="twitch.tv"]:after {
  content: "\f1e8";
  color: #6441A5; }
.secondary-navigation a[href*="mailto:"]:after {
  content: "\f0e0"; }
.secondary-navigation a[href*="youtube.com"]:after {
  content: "\f167";
  color: #bb0000; }
.secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after {
  content: "\f19a";
  color: #0073aa; }
.secondary-navigation a[href*="vimeo.com"]:after {
  content: "\f194";
  color: #aad450; }
.secondary-navigation a[href*="tumblr.com"]:after {
  content: "\f173";
  color: #32506d; }
.secondary-navigation a[href*="reddit.com"]:after {
  content: "\f231"; }
.secondary-navigation a[href*="twitter.com"]:after {
  content: "\f099";
  color: #00aced; }
.secondary-navigation a[href*="dribbble.com"]:after {
  content: "\f17d";
  color: #ea4c89; }
.secondary-navigation a[href*="facebook.com"]:after {
  content: "\f09a";
  color: #3b5998; }
.secondary-navigation a[href*="flickr.com"]:after {
  content: "\f16e";
  color: #ff0084; }
.secondary-navigation a[href*="foursquare.com"]:after {
  content: "\f180";
  color: #0072b1; }
.secondary-navigation a[href*="plus.google.com"]:after {
  content: "\f0d5";
  color: #dd4b39; }
.secondary-navigation a[href*="instagram.com"]:after {
  content: "\f16d";
  color: #517fa4; }
.secondary-navigation a[href*="linkedin.com"]:after {
  content: "\f0e1";
  color: #007bb6; }
.secondary-navigation a[href*="pinterest.com"]:after {
  content: "\f231";
  color: #cb2027; }


/* Header Fixes */
@media (min-width: 768px) {
  .site-header {
    padding:0;
    border-bottom:0;
  }
  .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    border-bottom:1px solid #DDD;
    width:100%;
  }
  /* .secondary-navigation .menu {
    float:left;
  } */
  .menu-secondary-container {
    float:left;
  }
  .menu-tertiary-container {
    float:right;
  }

  .woocommerce-active .site-header .main-navigation {
    text-align: right;
    float:right;
    margin:0;
    clear:none;
  }

  /* .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a  {
    padding:0 0.5rem;
  } */


  /* Main area */
  .page-template-template-homepage:not(.has-post-thumbnail) .site-main {
    padding:0;
  }
}
